<!DOCTYPE html>
<html>
  <header>
   <h1> DEPARTMENTS</h1>
  </header><br>
  <button class="addbtn">ADD</button>
  <br><br>
  <table   align="center">
    <tr>
      <th>DEPT-ID</th>
      <th>NAME</th>
      <th>SELECT</th>
    </tr>
   <tr>
    <td>100</td>
    <td>Smith</td>
    <td><button class="editbtn">EDIT</button></td>
  <tr>
    <td>101</td>
    <td>Jackson</td>
    <td><button class="editbtn">EDIT</button></td>
  </tr>
  <tr>
    <td>102</td>
    <td>Doe</td>
    <td><button class="editbtn">EDIT</button></td>
  </tr>
</table>
</html>
